.contato {
  margin-inline: auto;
  max-width: 1200px;
  text-align: center;
}

.contato > h2 {
  margin-inline: auto;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.contato > div {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}

.dados-geral {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 2px solid #5372F0;
  padding-left: 1.5rem;
}

.contato h2 {
  color: black !important;
  font-weight: 400;
}

.dados {
  text-align: start;
}

.dados p {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.596) !important;
  font-weight: 500;
}

.mensagem {
  padding-left: 1.5rem;
  border-left: 2px solid #5372F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form div{
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-areas: 
  'name sobrenome'
  'email telefone'
  'texto texto';
  gap: 1rem;
}

#name {
  grid-area: name;
}
#sobrenome {
  grid-area: sobrenome;
}
#email {
  grid-area: email;
}
#tel {
  grid-area: telefone;
}

#mensagem {
  grid-area: texto;
}

input {
  background-color: rgba(0, 0, 0, 0.089);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

input::placeholder {
  color: black;
}

form textarea {
  resize: none;
  background-color: rgba(0, 0, 0, 0.089);
  border: none;
  padding: 0.5rem 1rem;
  height: 100px;
  border-radius: 8px;
}

form button {
  margin-top: 2rem;
  background-color: #5372F0;
  color: white;
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .contato > div {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-inline: 1rem;
  }
}