*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #FFFFFF;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  --font-family: 'Archivo', sans-serif;
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

body{
  font: var(--text);
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}

h1, h1, h3{
  font: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: #ffffff;
}

img{
  max-width: 100%;
}

.container{
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}
