/* .card-list {
  padding: 0 50px 25px;
}

.card-item {
  list-style: none;
}


.card-link:active {
  cursor: grabbing;
}

.card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05)
}

.card-link:hover button {
  color: #fff;
  background-color: #5372F0;
} */

.card-item {
  list-style: none;
  /* width: fit-content; */
  /* background-color: red; */
  margin-bottom: 35px;
}

.card-link {
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: #DDE4FF; */
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}


.card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.badge {
  color: #5372F0;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 8px 16px;
  margin: 16px 0 18px;
  width: fit-content;
  border-radius: 50px;
}

.badge-Futebol {
  background: #DDE4FF;
}

.badge-Queimada {
  background: #FDFD96;
  color: #6e6e00;
}

.badge-Equipe {
  background: #BDECB6;
  color: #0f7400;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  opacity: 0.5;
  background: #5372F0;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .card-link {
    padding: 12px;
  }

  .badge {
    padding: 6px 12px;
    margin: 12px 0 14px;
  }
}